module.exports = {
    "env": {
        "es6": true,
        "react": true,
        "jsx": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "no-mixed-spaces-and-tabs": [0],
        "no-undef": [0]
    },
    "extends": [
        "airbnb"
    ],
    "parserOptions": {
        "ecmaVersion": 2016,
        "ecmaFeatures": {
            "jsx": true
        }
    }
};